<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <%= link_to '一覧に戻る', tasks_path %>
    </div>
  </aside>
</div>